.login-container {
  .login-box {
    width: 100%;
    max-width: 300px;
    margin: 112px auto;
    .email-input {
      width: 100%;
      margin: 16px 0px;
    }
    .signin-button {
      width: 100%;
    }
  }
}
